@model ePizzaHub.Entities.PaymentDetails

    @{
        ViewData["Title"] = "Receipt";
    }

    <h1>Receipt</h1>

    <div>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Email)
            </dt>
            <dd class="col-sm-10">
                @CurrentUser.Email
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd class="col-sm-10">
                RefId
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Total)
            </dt>
            <dd class="col-sm-10">
                NGN @Html.DisplayFor(model => model.GrandTotal)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd class="col-sm-10">
                Success!
            </dd>

        </dl>
    </div>

    <div>
        <a asp-action="Index" asp-controller="Order" asp-area="User" class="btn btn-success">Go To Order Details</a>

    </div>


